:root {
  --font-primary: 'Plus Jakarta Sans', sans-serif;
  --color-body-bg: hsl(0, 0%, 25%);
  --color-white: hsl(0, 0%, 100%);
  --color-accent: hsl(218.8, 85%, 26.1%);
  --color-txt-primary: hsl(224, 21.1%, 13.9%);
  --color-txt-secondary: hsl(219.2, 12.1%, 42%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

a {
  font-weight: 700;
  text-decoration: none;
}

a,
button,
h2 {
  transition: all 0.3s ease-in-out;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-txt-secondary);
}

ul,
ol {
  list-style: none;
}

body {
  background: var(--color-body-bg);
}


body,
button,
h2,
a,
.text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--color-txt-secondary);
  font-family: var(--font-primary);
}

.wrapper {
  padding: 24px 16px 29px;
  background: var(--color-white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.notifications {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-weight: 800;
  margin: 0 9px 0 0;
  color: var(--color-txt-primary);
}

header .counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1.5625rem;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--color-white);
  background: var(--color-accent);
  border-radius: 6px;
}

article {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-white);
}

article.active {
  background-color: hsl(210, 60%, 98%);
}

article+article {
  margin-top: 10px;
}

article img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin-right: 13px;
}

article h2 {
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--color-txt-primary);
  display: inline-block;
}

.text {
  display: inline;
  font-weight: 500;
}

.message .text::after,
.message a::after {
  content: '\00A0';
}

.time {
  margin-top: 3px;
  color: hsl(219.2, 13.7%, 62.7%);
}

a.group {
  color: var(--color-accent);
}

a.private {
  display: block;
  margin-top: 12px;
  padding: 16px;
  font-weight: 500;
  border: 1px solid hsl(204.7, 33.3%, 90%);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

article.active span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: hsl(1.1, 90.1%, 64.3%);
  border-radius: 50%;
}

.chess-img {
  border-radius: 7px;
  margin-right: 0;
  margin-left: 12px;
  cursor: pointer;
}

@media (hover: hover) {

  button:hover,
  a:hover:not(a.private),
  h2:hover {
    color: var(--color-accent);
  }

  a:hover:not(a.name, a.private) {
    text-shadow: 0 0 .45px var(--color-accent), 0 0 .45px var(--color-accent);
  }

  a.private:hover {
    background: hsl(211.4, 67.7%, 93.9%);
  }

}

@media (min-width: 48em) {

  body,
  button,
  article h2,
  a,
  .text {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .wrapper {
    max-width: 45.625rem;
    margin: 63px auto 89px auto;
    padding: 33px 30px 0;
    box-shadow: 0px 20px 60px hsla(224.8, 39.4%, 47.3%, 0.1);
    border-radius: 15px;
  }

  header {
    margin-bottom: 31px;
  }

  header h1 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  article {
    padding: 17.5px 20px;
  }

  article+article {
    margin-top: 8px;
  }

  article img {
    width: 45px;
    height: 45px;
    margin-right: 19px;
  }

  .private {
    padding: 17px 20px 20px;
  }

  .chess-img {
    margin-left: auto;
  }

}